* {  
	border: 0;  
	padding: 0;  
	margin: 0;  
	}  
body {  
	margin:5px 50px;
	}  
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {  
	margin:  0;  
	}  
li, dd, blockquote {  
	margin-left: 40px;  
	}  
p{margin:10px;}


/***************/
.menu{
	width: 100%;
	height: auto;
	list-style-type:none; 
	text-decoration: none;
	font-size: 16px;
	font-family: arial;
	color: #08C;
	background-color:#aaaaaa;
}
.menu a {
    display: block;
    width: auto;
    border-bottom:5px solid #555;
	padding: 5px 5px;
	text-decoration: none;
	font-weight: bold;
	color: #efefef;
	list-style-type:none; 
}

.menu a:hover {
	color: #08C;
	background-color: #fff;
	color:#88a906;
	}

/***index page***/




/***Aneurysm page****/
#definition,#page-aneurism >p{
	background-color: #e8ecf5;
	color:#616161;
	padding:20px;
	margin:2px;
}
#definition h3{
	color:#08C;
}
#treatmest_list{
	margin:20px 5px;
}
#treatmest_list h4{
	border-bottom:5px solid #555;
}
.treatment_style{
	color:#88a906;
	padding:5px;
	font-size: 20px;
}
.treatment_view{
	background-color: #ddd;
}
#treatment_view p{
	margin:5px;
}
header,footer{
	background:#454545;
	color:#fff;
	padding:0 2px}

